@model IEnumerable<advanced_jobmatchingtool_webapp.ViewModels.AntwoordOpties.AntwoordOptieIndexViewModel>

@{
    ViewData["Title"] = "Index";
}

<style>
    #custtable tbody tr {
        cursor: pointer;
        color: darkred;
    }
</style>

<h1>Index</h1>

<p>
    <a asp-action="Create">Aanmaken</a>
</p>
<table id="custtable" class="display cell-border compact">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptieTekst)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    @*
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OptieTekst)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
 *@  
</table>

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.11/css/jquery.dataTables.css" />

@section Scripts {
    <script src="https://cdn.datatables.net/1.13.11/js/jquery.dataTables.js"></script>

    <script>
        $(function () {
            $('#custtable').DataTable({
                "ajax": {
                    //Client Side
                    "url": "/AntwoordOpties/GetAllAntwoordOptiesData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "id" },
                    { "data": "optieTekst" },
                    { "data": null, "defaultContent": "<a href='' class='del'>Verwijderen</a>" }
                ]

            });

            $('#custtable tbody').one('click', 'tr', function (e) {
                e.preventDefault();
                var id = $("td:first", this).text();
                if ($(e.target).is("a.del")) {
                    $.get('@Url.Action("Delete", "AntwoordOpties")', { id: id }, function (data) {
                        $("body").html(data);
                    });
                    return;
                }
                $.get('@Url.Action("Edit", "AntwoordOpties")', { id: id }, function (data) {
                    $("body").html(data);
                })
            });

        });
    </script>
}
<a asp-controller="HomeBeheer" asp-action="Index" class="btn btn-secondary">Terug</a>
