@model IEnumerable<advanced_jobmatchingtool_webapp.Models.Vraag>



<h2>Vragenlijst</h2>

<p>
    <a asp-action="Create">Nieuwe Vraag</a>
</p>

<table id="custtable" class="display cell-border compact">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.VraagText)</th>
            <th>@Html.DisplayNameFor(model => model.Categorie)</th>
            <th>@Html.DisplayNameFor(model => model.SubCategorie)</th>
            <th>@Html.DisplayNameFor(model => model.Type)</th>
            <th>@Html.DisplayNameFor(model => model.Opties)</th>
            <th>@Html.DisplayNameFor(model => model.ExtraInformatie)</th>
            <th>@Html.DisplayNameFor(model => model.VoorWie)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <!-- De tbody zal gevuld worden door de DataTable via Ajax -->
    </tbody>
</table>

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.11/css/jquery.dataTables.css" />

@section Scripts {
    <script src="https://cdn.datatables.net/1.13.11/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready(function () {
            $('#custtable').DataTable({
                "ajax": {
                    "url": "/Vragen/LoadAllVragen",  // Je action in de controller
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "id" },  // Id van de vraag
                    { "data": "vraagText" },
                    { "data": "categorie" },
                    { "data": "subCategorie" },
                    { "data": "type" },
                    { "data": "opties",
                      "render": function(data,type,row) {
                          return data.join(", ");
                        }
                    },
                    { "data": "extraInformatie" },
                    { "data": "voorWie" },
                    {
                        "data": null,
                        "defaultContent": "<a href='' class='del'>Verwijderen</a>"
                    }
                ]
            });

            // Bewerk- en Verwijderfunctionaliteit
            $('#custtable tbody').on('click', 'tr', function (e) {
                e.preventDefault();
                var id = $("td:first", this).text();
                if ($(e.target).is("a.del")) {
                    $.get('@Url.Action("Delete", "Vragen")', { id: id }, function (data) {
                        $("body").html(data);
                    });
                    return;
                }
                $.get('@Url.Action("Edit", "Vragen")', { id: id }, function (data) {
                    $("body").html(data);
                });
            });
        });
    </script>
}
